body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo-title {
  font-size: 10mm;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #fff;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #333;
}

td button {
  background-color: #4CAF50;
  margin-left: 5px;
  border-radius: 5px;
}

td button:nth-child(2) {
  background-color: #f44336;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contenedor-modificar {
  display: none;
  flex-direction: column;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
}

#contenedor-modificar.active {
  display: flex;
}

#listaProductos {
  margin-top: 20px;
}
